body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}

h1 {
  color: white;
}
.update, .sessions, .community {
  margin-top: 5em;
}
.profile-container {
  margin-top: 2em;
}
.profile-table {
  margin-top: 3em;
  background-color: white;
  border-radius: 1em;
}
.update-form, .create-form {
  margin-top: 2em;
  margin-bottom: 5em;
  padding: 2em;
  background-color: white;
  border-radius: 1em;
}
.home-nav > button {
  margin-right: 1em;
}

.login-form {
  margin-top: 20px;
}
.login-button {
  margin-top: 3px;
  margin-left: 390px;
}

@media screen and (max-width: 640px) {
  .links-nav.btn {
    font-size: 10px;
    padding: none;
  }
  .login-button {
    margin-top: 3px;
    margin-left: 201px;
  }
}
